<ion-header hidden>
  <ion-navbar>
    <ion-title>
      IonicJM IA 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- mic -->
  <ion-fab bottom right>
    <button ion-fab color="mic">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

<!-- lista mensajes -->
    <ion-list  no-lines class="chat-list">
        <ion-item *ngFor ="let message of messages" class="chat-item">
          <!--   -->
          <!-- res from api.ai   -->
          <ion-avatar item-left *ngIf="message.sender == 'api'">
            <img src="assets/imgs/bot2.png">
          </ion-avatar>
        <!-- input user  -->
            <ion-avatar item-right *ngIf="message.sender == 'me'">
              <img src="assets/imgs/me.png">
            </ion-avatar>
            
  <!-- res from api.ai   -->          
            <div *ngIf="message.sender == 'api'" class="bubble me">
              <h3> {{message.test}}</h3>
            </div>
 <!-- input user  -->
            <div *ngIf="message.sender == 'api'" class="bubble you">
                <h3>{{message.test}}</h3>
            </div>

          </ion-item>
    </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input type="text" placeholder="Escribe tu mensaje ..."></ion-input>
      <button color="primary" ion-button icon-only item-right clear 
      (click)="sendText()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>